<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.o, shrink-to-fit=no" />
    <link rel="icon" href="assets/robot.ico" />
    <title>Robot Control</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <!-- ros -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/eventemitter2/lib/eventemitter2.min.js"></script>
    <script type="text/javascript" src="https://s3.eu-west-1.amazonaws.com/rosject.io/js/roslib.min.js"></script>
    <!-- model -->
    <script type="text/javascript" src="scripts/lib/three.js"></script>
    <script type="text/javascript" src="scripts/lib/colladaloader.js"></script>
    <script type="text/javascript" src="scripts/lib/colladaloader2.js"></script>
    <script type="text/javascript" src="scripts/lib/stlloader.js"></script>
    <script type="text/javascript" src="scripts/lib/ros3d.js"></script>
    <!-- camera -->
    <script type="text/javascript" src="scripts/lib/mjpegcanvas.js"></script>
    <!-- map -->
    <script type="text/javascript" src="scripts/lib/easel.js"></script>
    <script type="text/javascript" src="scripts/lib/ros2d.js"></script>
    <!-- vuejs -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <!-- css stylesheet -->
    <link rel="stylesheet" href="styles/app.css" />
</head>

<body>
    <div id="app">
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <!-- robot name -->
            <a class="navbar-brand p-0 bi bi-robot" href="#"> {{ robot_name }}</a>
            <div class="collapse navbar-collapse">
                <!-- connection status -->
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link text-danger p-0 bi bi-wifi-off navbar-icon-custom" v-if="!connected"></a>
                        <a class="nav-link text-success p-0 bi bi-wifi navbar-icon-custom" v-else></a>
                    </li>
                </ul>
                <!-- input form -->
                <form class="form-inline form-inline-custom mt-2 mt-md-0">
                    <!-- input box -->
                    <div class="input-group form-input-custom">
                        <input class="form-control mr-sm-2" type="text" v-model="rosbridge_address"
                            placeholder="ROS Bridge Address" aria-label="Search" />
                    </div>
                    <!-- submit button -->
                    <button class="btn btn-outline-danger my-2 my-sm-0" :disabled="loading" @click="disconnect"
                        v-if="connected" type="submit">
                        Disconnect
                    </button>
                    <button class="btn btn-outline-success my-2 my-sm-0" :disabled="loading" @click="connect" v-else
                        type="submit">
                        Connect
                    </button>
                </form>
            </div>
        </nav>
        <!-- main view -->
        <div class="container-fluid p-0">
            <!-- first row -->
            <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
                <!-- first box -->
                <div class="bg-dark mr-md-3 p-3 box-custom-row1">
                    <div class="row ml-0 mr-0 text-white align-items-center">
                        <h5 class="text-left bi bi-badge-3d-fill">
                            Robot Model
                        </h5>
                        <h6 class="pl-3">/robot_description</h6>
                    </div>
                    <div class="pt-2 text-center rounded" id="id_3D_viewer"></div>
                </div>
                <!-- second box -->
                <div class="bg-dark mr-md-3 p-3 box-custom-row1">
                    <div class="row pl-3 text-white align-items-center">
                        <h5 class="text-left bi bi-camera-video-fill">
                            Camera
                        </h5>
                        <h6 class="pl-3">/camera/image_raw</h6>
                    </div>
                    <div class="pt-2 text-center rounded" id="id_camera_canvas"></div>
                </div>
                <!-- third box -->
                <div class="bg-dark mr-md-3 p-3 box-custom-row1">
                    <div class="row pl-3 text-white align-items-center">
                        <h5 class="text-left bi bi-geo-alt-fill">
                            Robot Localization
                        </h5>
                        <h6 class="pl-3">/map</h6>
                    </div>
                    <div class="pt-2 text-center rounded" id="id_map"></div>
                </div>
            </div>
            <!-- second row -->
            <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
                <!-- first box -->
                <div class="bg-dark mr-md-3 pl-3 pr-3 pt-3 pb-1 box-custom-row2">
                    <div class="row ml-0 mr-0 text-white align-items-center border-bottom">
                        <h5 class="text-left bi bi-terminal-fill">
                            Terminal
                        </h5>
                        <h6 class="pl-3">/rosout</h6>
                    </div>
                    <div class="terminal-custom pt-1 text-left text-white">
                        <div v-for="log in log_array">
                            <span class="text-danger" v-if="log.level > 5">$ {{log.msg}}</span>
                            <span class="text-warning" v-else-if="log.level > 3">$ {{log.msg}}</span>
                            <span class="text-info" v-else-if="log.level > 0">$ {{log.msg}}</span>
                            <span class="text-white" v-else>$ {{log.msg}}</span>
                        </div>
                    </div>
                </div>
                <!-- second box -->
                <div class="d-flex justify-content-center align-items-center mr-md-3 p-3 box-custom-row2">
                    <div class="drag-start-zone" id="id_drag_start_zone" @mousedown="joystick_start_drag"
                        @mousemove="joystick_do_drag"></div>
                    <div class="drag-circle" :style="dragging_style"></div>
                </div>
                <!-- third box -->
                <div class="bg-light-custom mr-md-3 p-3 box-custom-row2">
                    <!-- first min row -->
                    <div class="row justify-content-center">
                        <for>
                            <div class="form-row align-items-center justify-content-between">
                                <!-- dropdown -->
                                <div class="col-auto">
                                    <select v-on:change="handle_waypoint_request($event)" class="custom-select mr-sm-4">
                                        <option selected disabled hidden>Select Waypoint</option>
                                        <option>Waypoint 1</option>
                                        <option>Waypoint 2</option>
                                        <option>Waypoint 3</option>
                                        <option>Waypoint 4</option>
                                        <option>Waypoint 5</option>
                                        <option>Waypoint 6</option>
                                        <option>Waypoint 7</option>
                                        <option>Waypoint 8</option>
                                        <option>Waypoint 9</option>
                                        <option>Waypoint 0</option>
                                    </select>
                                </div>
                                <!-- input box button -->
                                <div class="col-auto input-custom">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">X</div>
                                        </div>
                                        <input class="form-control" v-model.number="action.goal.position.x" />
                                    </div>
                                </div>
                                <div class="col-auto input-custom">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">Y</div>
                                        </div>
                                        <input class="form-control" v-model.number="action.goal.position.y" />
                                    </div>
                                </div>
                                <!-- submit button -->
                                <div class="col-auto my-1">
                                    <button type="submit" class="btn btn-danger" :disabled="!connected"
                                        v-if="action.status.status == 1" @click="cancel_goal">
                                        Cancel
                                    </button>
                                    <button type="submit" class="btn btn-success" :disabled="!connected" v-else
                                        @click="send_goal">
                                        Execute
                                    </button>
                                </div>
                            </div>
                            </form>
                    </div>
                    <!-- second min row -->
                    <div class="row m-0 mt-3">
                        <!-- first min box -->
                        <div class="bg-dark col-sm text-left m-1 p-2 rounded">
                            <h6 class="text-center text-white">Joystick</h6>
                            <p class="bg-light rounded">
                                <span class="ml-2"><b>move : </b>{{ joystick.x.toFixed(3) }}</span>
                                <br />
                                <span class="ml-2"><b>rotate : </b>{{ joystick.z.toFixed(3) }}</span>
                            </p>
                        </div>
                        <!-- second min box -->
                        <div class="bg-dark col-sm text-left m-1 p-2 rounded">
                            <h6 class="text-center text-white">Velocity</h6>
                            <p class="bg-light rounded">
                                <span class="ml-2"><b>linear.x : </b>{{ velocity.x.toFixed(2) }}</span>
                                <br />
                                <span class="ml-2"><b>angular.z : </b>{{ velocity.z.toFixed(2) }}</span>
                            </p>
                        </div>
                        <!-- third min box -->
                        <div class="bg-dark col-sm text-left m-1 p-2 rounded">
                            <h6 class="text-center text-white">Odometry</h6>
                            <p class="bg-light rounded">
                                <span class="ml-2"><b>position.x : </b>{{ position.x.toFixed(2) }}</span>
                                <br />
                                <span class="ml-2"><b>position.y : </b>{{ position.y.toFixed(2) }}</span>
                                <br />
                                <span class="ml-2"><b>position.z : </b>{{ position.z.toFixed(2) }}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <footer class="footer">
        <div class="container footer-custom">
            <span class="text-muted">Abhishek Verma © 2024-2025</span>
        </div>
    </footer>
    <!-- javascript -->
    <script type="text/javascript">
        // bug : loading app.js using <script type="text/javascript" src="scripts/app.js">
        // will having caching-related problems app.js with a Date.now() in the URL
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = "scripts/app.js?v=11." + Date.now();
        document.head.appendChild(script);
    </script>
</body>

</html>